.container-location {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0.5em;
    padding: 1% 5% 1% 5%;

    .title {
        order: 1;
        min-width: 100%;
        width: 100%;
        align-items: center;
    }

    .content {
        order: 2;
        min-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 1em;

        .filters {
            order: 1;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: start;
            gap: 0.5em;
        }

        .tabla {
            order: 2;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }

        .buttons {
            order: 3;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
        }
    }

    .button {
        border: none;
        color: white;
        padding: 1em 3em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .buttonMini {
        border: none;
        color: white;
        padding: 0.5em 1.5em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        //margin: 4px 2px;
        cursor: pointer;
        background-color: #008CBA;
    }

    .button1 {
        background-color: #04AA6D;
    }

    /* Green */
    .button2 {
        background-color: #008CBA;
    }

    /* Blue */
}