.container-info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 1em;
    justify-content: space-between;
    .name{
        order:1;
        min-width: 25%;
        border-color: black;
    }
    .status{
        order:2;
        min-width: 10%;
        border-color: black;
    }
    .specie{
        order:3;
        min-width: 15%;
        border-color: black;
    }
    .type{
        order:4;
        min-width: 20%;
        border-color: black;
    }
    .gender{
        order:5;
        min-width: 20%;
        border-color: black;
    }
    .button{
        order:6;
        min-width: 10%;
        border-color: black;
    }

    .buttonMini {
        border: none;
        color: white;
        padding: 0.5em 1.5em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 8px;
        margin: 4px 2px;
        cursor: pointer;
        background-color: #a9bab4;
    }

    .h2-b {
        font-size: 18px;
        font-weight: bold;
        padding: 0px;
        margin: 0px;
        line-height: 100%;
      }
      
    
}
